* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

.title {
	width: 200px;
	margin-inline: auto;
	margin-bottom: 60px;
}

.pic {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	p {
		flex-basis: 300px;
		height: 200px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}

}

.botton-img{
	margin-inline: auto;
	margin-top: 50px;
	width: 300px;
	height: 100px;
	color: #ffffff;
	background-color: #be2767;
	font-size: 22px;
	font-weight: 600;
	margin-inside: auto;
	border-radius: 8px;
	/*è§’*/
	border: 8px solid white;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2) ;
	position: relative;
  padding-top: 25px;
	text-align: center;

	.botton-img-carby{
		position: absolute;
		top: -60px;
		left: -150px;
	}


}

